.vs/IaGenerativaWeb/FileContentIndex/2b1b0e78-648a-4a1e-9d17-057f6a48d356.vsidx
.vs/IaGenerativaWeb/FileContentIndex/656c70d4-8f20-40f6-8c57-88dd5848aaa4.vsidx
.vs/IaGenerativaWeb/FileContentIndex/ec21539b-2fa7-41f4-80df-cd8608563ab1.vsidx
.vs/IaGenerativaWeb/v17/.suo
.vs/IaGenerativaWeb/v17/DocumentLayout.backup.json
.vs/IaGenerativaWeb/v17/DocumentLayout.json
.vs/IaGenerativaWeb/v17/.suo
/IAGenerativa.Data/bin/Debug/net8.0
/IAGenerativa.Data/bin/Debug/net8.0
IAGenerativa.Data/bin/Debug/net8.0/IAGenerativa.Data.dll
IaGenerativaWeb/bin/Debug/net8.0/IAGenerativaWeb.staticwebassets.endpoints.json
