@{
    ViewData["Title"] = "Bienvenido a la IA Generativa Demo";
}

<div class="container">
    <h1 class="text title">IA Generativa Demo</h1>
    <p class="text">
        Probá las funcionalidades de análisis y transformación de textos.<br>
    </p>
    <div class="container actions">
        <p class="text subtitle">
            Elegí una opción para empezar
        </p>
        <div class="container buttons">
            <a class="button text" href="/Texto/AnalizadorOraciones">Analizador de Oraciones</a>
            <a class="button text" href="/Texto/AnalizadorTextos">Analizador de Textos</a>
            <a class="button text" href="/Texto/TransformadorTextos"> Transformador de Textos</a>
            <a class="button text" href="/Texto/AnalizadorEstadoAnimo">Analizador de Estado de Ánimo</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/index.css" />
