@model IAGenerativaDemo.Web.Models.TextoViewModel
@{
    ViewData["Title"] = "Analizador de Oraciones";
}
<div class="container">

<h2 class="text title">Analizador de Oraciones</h2>
<form asp-action="AnalizadorOraciones" method="post" class="form container">
    <label for="texto" class="text subtitle">Ingrese la oración a analizar:</label>
    <textarea id="texto" name="Texto" rows="4" cols="60" class="textarea">@Model?.Texto</textarea>
    <button type="submit" class="button">Analizar</button>
</form>
@if (!string.IsNullOrEmpty(Model?.Texto))
{
    <hr />
    <h4>Texto ingresado:</h4>
    <div>@Model.Texto</div>
}
</div>

<a href="@Url.Action("Index", "Home")" class="back">Volver</a>


<link rel="stylesheet" href="~/css/index.css" />
<script src="~/js/validacionTexto.js"></script>