@model IAGenerativaDemo.Web.Models.TextoViewModel
@{
    ViewData["Title"] = "Analizador de Estado de Ánimo";
}
<div class="container">
    <h2 class="text title">Analizador de Estado de Ánimo</h2>
    <form asp-action="AnalizadorEstadoAnimo" method="post" class="form container">
            <label for="texto" class="text subtitle">Ingrese el texto a analizar:</label>
            <textarea id="texto" name="Texto" rows="4" class="textarea">@Model?.Texto</textarea>
        <button type="submit" class="button">Analizar</button>
    </form>
    @if (!string.IsNullOrEmpty(Model?.Texto))
    {
        <hr />
        <h5>Texto ingresado:</h5>
        <div>@Model.Texto</div>
        <hr />
        @if (!string.IsNullOrEmpty(Model?.ResultadoEstadoAnimo))
        {
            <strong>Resultado:</strong>
            <div >Estado de ánimo detectado: 
                <p class="result">@Model.ResultadoEstadoAnimo</p>
                </div>
        }
    }
</div>

<a href="@Url.Action("AnalizadorOraciones", "Texto")" class="back">Volver</a>


<link rel="stylesheet" href="~/css/index.css" />

