@model IAGenerativaDemo.Web.Models.TextoViewModel

@{
    ViewData["Title"] = "Analizador de Textos";
}

<div class="container">
    <h2 class="text title">Analizador de Textos</h2>
    <form asp-action="AnalizadorTextos" method="post" class="form container">
            <label for="texto" class="text subtitle">Ingrese el texto a analizar:</label>
            <textarea id="texto" name="Texto" rows="6" class="textarea">@Model?.Texto</textarea>
        <button type="submit" class="button">Analizar</button>
    </form>
</div>

<button type="button" class="back" onclick="location.href='@Url.Action("Index", "Home")'">Ir al Inicio</button>


<link rel="stylesheet" href="~/css/index.css" />

