@model IAGenerativaDemo.Web.Models.TextoViewModel
@{
    ViewData["Title"] = "Resultado - Analizador de Oraciones";
}
<div class="container">

    <h2 class="text title" >Resultado - Analizador de Oraciones</h2>

<h4 class="text subtitle">Texto ingresado:</h4>
<div class="textarea">@Model.Texto</div>

<div class="horizontal">

    <p class="text subtitle">Resultado:</p>
    @if (!string.IsNullOrEmpty(Model.Clasificacion))
    {
        <p class="text result">
            @Model.Clasificacion
        </p>
    }
    else
    {
        <span class="text">No se pudo analizar el texto.</span>
    }

</div>
<a href="@Url.Action("AnalizadorOraciones", "Texto")" class="back">Volver</a>
</div>
<link rel="stylesheet" href="~/css/index.css" />

