@model IAGenerativaDemo.Web.Models.TextoViewModel
@{
    ViewData["Title"] = "Resultado - Transformar Texto";
}
<div class="container"> 

<h2 class="text title">Resultado - Transformar Texto</h2>

<h4 class="text subtitle">Texto ingresado:</h4>
<div class="textarea">@Model.Texto</div>


<strong class="text subtitle">Resultado:</strong>
@if (!string.IsNullOrEmpty(Model.TextoTransformado))
{
    <div class="textarea" >
        @Model.TextoTransformado
    </div>
}
else
{
    <div style="color:red;">No se pudo transformar el texto.</div>
}

    <a href="@Url.Action("TransformadorTextos", "Texto")" class="back">Volver</a>
    <a href="@Url.Action("Index", "Home")" class="back">Ir al Inicio</a>

</div>
<link rel="stylesheet" href="~/css/index.css" />
