@model IAGenerativaDemo.Web.Models.TextoViewModel
@{
    ViewData["Title"] = "Resultado - Estado de Ánimo";
}
<div class="container">
    <h2 class="text title">Resultado - Estado de Ánimo</h2>
    <h5 class="text subtitle">Texto ingresado:</h5>
    <div class="textarea">@Model.Texto</div>
    <div class="text result">
        Estado de ánimo detectado: <b>@Model.ResultadoEstadoAnimo</b>
    </div>
    <a href="@Url.Action("AnalizadorEstadoAnimo", "Texto")" class="back">Volver</a>
    <a href="@Url.Action("Index", "Home")" class="back">Ir al Inicio</a>
</div>

<link rel="stylesheet" href="~/css/index.css" />

