@model IAGenerativaDemo.Web.Models.TextoViewModel
@{
    ViewData["Title"] = "Transformar Texto";
}

<div class="container">

<h2 class="text title">Transformar texto</h2>
<form asp-action="TransformadorTextos" method="post" class="form container">
        <label for="Texto" class="text subtitle">Texto a transformar:</label>
        <textarea name="Texto" id="Texto" rows="3" class="textarea">@Model?.Texto</textarea>
        <label class="text subtitle">Transformar a:</label>
        <div class="horizontal">
            <div>
        <input type="radio" id="Formal" name="OpcionTransformar" value="Formal" @(Model?.OpcionTransformar == "Formal" ? "checked" : "") />
        <label for="Formal">Formal</label>
            </div>
            <div>
        <input type="radio" id="Informal" name="OpcionTransformar" value="Informal" @(Model?.OpcionTransformar == "Informal" ? "checked" : "") />
        <label for="Informal">Informal</label>
            </div>
        </div>
    <button type="submit" class="button">Transformar</button>
</form>
</div>
@if (!string.IsNullOrEmpty(Model?.Texto))
{
    <hr />
    <h4>Texto ingresado:</h4>
    <div>@Model.Texto</div>
}

<a href="@Url.Action("Index", "Home")" class="back">Volver</a>

<link rel="stylesheet" href="~/css/index.css" />
<script src="~/js/validacionTexto.js"></script>