<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IaGenerativaWeb</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/_Layout.css" />


</head>
<body>

    <div id="animated-bg"></div>
    <div class="layout">
        <main role="main" class="main">
            @RenderBody()
        </main>

        <footer class="footer">
            <div class="footer-content">
                &copy; 2025 - IaGenerativaWeb
                <br />
                <span>Grupo 7 - Programación Web 3</span>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
