.container {
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items:center
}

.text {
    color: white;
    margin: 0;
    text-decoration: none;
}

.title {
    font-size: 48px
}

.subtitle {
    font-size: 20px;
}

.actions {
    margin-top: 24px;
    gap: 16px
}

.buttons {
    gap: 22px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a3236;
    border-radius: 10px;
    padding: 12px 10px;
    width: 100%;
    font-size: 18px;
    border: solid 1px #4e5c62;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    color: #f0f0f0;
}

    .button:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        color: #ff5889;
    }

    .button:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        transform: translateY(1px);
    }

.form {
    align-items: flex-start;
}
.textarea {
    background: #fee0ff;
    color: black;
    min-height: 80px;
    min-width: 480px;
    max-width: 680px;
    border-radius: 10px;
    padding: 1rem;
}
.horizontal {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.result {
    font-size: 32px;
    color: #fa9bff;
}

.table {
    width: 80%;
    margin: 2rem auto;
    border-collapse: separate;
    border-spacing: 0 12px;
    font-size: 16px;
    color: #f0f0f0;
}

    .table thead th {
        text-align: left;
        padding: 12px ;
    }

    .table tbody tr {
        background-color: #2a2a3d;
    }

    .table tbody td {
        padding: 12px;
        vertical-align: middle;
    }

.subtitle {
    font-weight: 600;
    color: #ff9cee;
}

.back {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 18px;
    background-color: transparent;
    color: #ff9cee;
    border: 1px solid #ff9cee;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
    text-align: center;
}

    .back:hover {
        background-color: #ff9cee;
        color: #2a2a3d;
        box-shadow: 0 4px 8px rgba(255, 156, 238, 0.4);
        transform: translateY(-1px);
    }


.form .horizontal label,
.d-flex label {
    color: #f5e6fa !important;
    font-weight: bold;
    margin-left: 6px;
    letter-spacing: 0.5px;
}

.form input[type="radio"],
.d-flex input[type="radio"] {
    accent-color: #2ecc71;
    width: 1.15em;
    height: 1.15em;
}
